<div class="container">
  <div class="header">
    <section class="logo">
      <p>Homem de Ferro Films</p>
      <button mat-button routerLink="">Voltar</button>
    </section>

    <div class="detalhes">
      <section class="imagem">
        <img
        [src]="imgBaseUrl + detalhes.poster_path"
        />
      </section>
      <div class="corpo-header">
        <section class="titulo">
          <p>{{detalhes.title}}</p>
        </section>
        <section class="informacoes">
          <p>
            16 anos • {{detalhes.release_date | date : "dd/MM/yyyy"}} (BR) • {{genres}} • {{converterHora(detalhes.runtime)}}
          </p>
        </section>
        <section class="avaliacao">
          <div class="spinner-container">
            <div class="spinner-background">{{ spinner.value }}%</div>
            <mat-progress-spinner
              #spinner
              color="accent"
              mode="determinate"
              value="{{detalhes.vote_average*10}}"
              diameter="80"
            >
            </mat-progress-spinner>
          </div>
          <p>Avaliação dos usuários</p>
        </section>
        <section class="sinopse">
          <p class="titulo-sinopse">Sinopse</p>
          <p>{{detalhes.overview}}
          </p>
        </section>

        <section class="cast">
          <mat-card-content>
            <p class="nome-cast">Nome ator</p>
            <p class="profissao-cast">Profissão ator</p>
          </mat-card-content>

          <mat-card-content>
            <p class="nome-cast">Nome ator</p>
            <p class="profissao-cast">Profissão ator</p>
          </mat-card-content>

          <mat-card-content>
            <p class="nome-cast">Nome ator</p>
            <p class="profissao-cast">Profissão ator</p>
          </mat-card-content>

          <mat-card-content>
            <p class="nome-cast">Nome ator</p>
            <p class="profissao-cast">Profissão ator</p>
          </mat-card-content>
        </section>


      </div>
    </div>
  </div>

  <div class="body">
    <div class="elenco">
      <h3>Elenco original</h3>

      <section class="elenco-grid">
        <mat-card class="elenco-card" *ngFor="let credit of credits">
          <img mat-card-image [src]="imgBaseUrl + credit.profile_path" />
          <mat-card-content class="info-personagem">
            <p class="ator">{{ credit.name }}</p>
            <p class="personagem">{{ credit.character }}</p>
          </mat-card-content>
        </mat-card>
      </section>
    </div>

    <div class="trailer" *ngIf="videoUrl" >
      <h3 class="titulo-trailer">Trailer</h3>
      <section class="video-trailer">
        <iframe class="trailer-filme" [src]="videoUrl">

        </iframe>
      </section>
    </div>

    <div class="recomendacoes" *ngIf="recomendacoes">
      <h3>Recomendações</h3>
      <section class="recomendados">
        <mat-card class="filme" *ngFor="let recomendacao of recomendacoes">
          <img
            mat-card-image
            [src]="imgBaseUrl + recomendacao.poster_path"
            [alt]="recomendacao.title"
          />
          <mat-card-content>
            <p class="descricao">{{ recomendacao.title }}</p>
            <p class="data-lancamento">
              {{ recomendacao.release_date | date : "dd/MM/yyyy" }}
            </p>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
  </div>
</div>
