.header {
  color: white;
  background-size: cover !important;
  height: 690px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
  border: 1px solid rgba(var(--lightGrey), 1);

  .logo {

    background-color: #022541e5;
    height: 56px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    button {
      margin-right: 50px;
    }

    p {
      display: flex;
      margin: 18px 0 18px 30px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .detalhes {
    display: flex;
    margin: 50px auto auto auto;
    width: 80%;

    .imagem {
      display: flex;
      padding: 0 10px 0 0;
      margin-bottom: 20px;

      img {
        width: 403px;
        height: 614px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 8px;
      }
    }
    .corpo-header {
      padding: 15px;
      border-radius: 8px;
      margin-left: 10px;
      margin-bottom: 10px;
      height: max-content !important;
      background-color: #41414193;


      .titulo {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        height: auto;


      }
      .informacoes {

        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        height: auto;
      }

      .avaliacao {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        align-items: center;
        margin-top: 16px;
        width: fit-content;
        margin: 0 !important;

        p {
          margin-top: 10px;
          margin-left: 12px;
          color: white;
        }

        .spinner-container-bom {
          color: #14ff00;
          ::ng-deep .mat-progress-spinner circle,
          .mat-spinner circle {
            stroke: #14ff00;
          }
        }

        .spinner-container-medio {
          color: #ecd500;
          ::ng-deep .mat-progress-spinner circle,
          .mat-spinner circle {
            stroke: #ecd500;
          }
        }

        .spinner-container-ruim {
          color: #db0000;
          ::ng-deep .mat-progress-spinner circle,
          .mat-spinner circle {
            stroke: #db0000;
          }
        }

        .spinner-background {
          position: absolute;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          overflow: hidden;
          border-color: rgba(103, 58, 183, 0.12);
          border-radius: 50%;
          border-style: solid;
          border-width: 10px;
        }
      }

      .assistir{
        display: flex;
        flex-direction: row ;
        align-items: center;
        margin: 1.2vh 0 0 5vw;
        width: fit-content;

        p{
          font-size: 1rem;
          font-weight: 500;
          margin-right: 5px;
        }
        img{
          width: 50px;
          padding: 5px;
          border-radius: 15px;
        }
      }
      .spec{
        display: flex;
        padding: 15px;
      }
      .sinopse {
        margin-top: 20px ;
        height: auto;
        .titulo-sinopse {
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
        }
        p {
          font-weight: 400;
          font-size: 15.5px;
          line-height: 24px;
          letter-spacing: -0.005em;
        }
      }
      .cast {
        margin-top: 24px;
        width: 60%;
        display: grid;
        grid-template-columns:
          minmax(160px, max-content)
          repeat(auto-fill, 190px);
        height: auto;

        mat-card-content {
          width: 174;
          margin-right: 33px;
        }

        .nome-cast {
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          margin: 2px;
        }
        .profissao-cast {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          margin: 2px;
        }
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  width: 80%;
  margin: auto;
  height: 100%;

  .elenco {
    .elenco-grid{
      overflow-x: auto;
      overflow-y: hidden;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
    }
    .elenco-card {
      width: 191px;
      height: 336px;
      padding: 8px;
      gap: 16px;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 24px;
      margin-bottom: 26px;
      margin-left: 5px;
      border-radius: 4px;
      margin-right: 16px;
      background: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      & :hover{
        cursor: pointer;
      }

      img {
        margin: 0;
        padding: 0;
        width: 175px !important;
        height: 222px !important;
      }
    }
    .info-personagem {
      .ator {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        color: #131313;
      }
      .personagem {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #131313;
        width: 170px;
      }
    }
    .elenco-grid {
      display: flex;
    }
  }
  .trailer {
    margin-top: 64px;
    height: 60vh;

    .titulo-trailer {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
    }
    .video-trailer {
      display: flex;
      margin-top: 24px;
      margin: auto;
      max-width: 900px;
      height: 90%;

      .trailer-filme {
        border: none;
        margin: auto;
        width: 100%;
        height: 100%;
      }
    }
  }

  .recomendacoes {
    margin-top: 25px;
    margin-bottom: 50px;
    h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
    }
    .recomendados {
      display: flex;
      overflow-x: auto;
    }
    .filme {
      width: 180px;
      height: auto;
      margin-right: 26px;
      margin-bottom: 10px;
      box-shadow: none;
      & :hover{
        cursor: pointer;
      }
      img {
        width: 176px;
        height: 264px;
        border-radius: 4px;
        margin: 0;
      }
      mat-card-content {
        margin: 0;
        .descricao {
          display: flex;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          margin: 0;
        }
        .data-lancamento {
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          color: #646464;
        }
      }
    }
  }
}

// media responsivo //

@media (max-width: 1135px) {
  .header {
    height: auto;
  }
  .detalhes {
    display: flex;
    flex-direction: column;
    margin-top: 30px !important;
    width: 95% !important;
    .imagem {
      width: 100% !important;
      justify-content: center;
      padding: 0 !important;
      img {
        width: 300px !important;
        height: 400px !important;
      }
    }
  }

  .corpo-header {
    .sinopse {
      width: 100% !important;
    }
  }
  .trailer {
    width: auto !important;
    height: auto !important;
    .trailer-filme {
      width: auto !important;
      height: auto !important;
    }
  }
}
@media (max-width: 500px) {
  .spec {
    flex-direction: row;
    justify-content: center;
    padding: 0 !important;
    .avaliacao{
      padding: 5px !important;
      flex-direction: column;
      p{
        font-size: 0.85rem;
      }
    }
    .assistir{
      display: flex;
      flex-direction: column !important;
      padding: 5px;
      width: fit-content !important;

    }
  }
  .sinopse{
    margin-top: 0 !important;
  }
}
@media (max-width: 1750px) {
  .header {
    height: auto;
  }
}
