@import '~@angular/material/theming';
@include mat-core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-light-green,500,900,0);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);


/* width */
::-webkit-scrollbar {
  width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #DDDDDD;
  border-radius: 100px;

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9b9b9b;

/* Handle */
}
::-webkit-scrollbar-thumb {
  background: #ADADAD;
  border-radius: 100px;

}

