.header {
  background-color: #0070ad;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  color: white;
  box-shadow: 0 5px 8px rgb(0 0 0 / 30%);
  border: 1px solid rgba(var(--Grey), 1);

  button {
    margin-right: 50px;
  }

  p {
    display: flex;
    margin: 18px 0 18px 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}

.search {
  display: flex;
  margin-bottom: 50px;

  .example-form {

    display: flex;
    width: 40%;
    margin: auto;

    .example-full-width {
      width: 100%;
      height: 52px;
      text-align: center;
      background-color: white;
      border-radius: 15px;

      input {
        color: black;
        width: 88%;
        font-size: 18px;
        text-align: center;
      }

      mat-label {
        font-size: 16px;
        display: inline-block;
        color: black;
      }
      .button {
        margin-top: -11px !important;
        color: white;
        width: 10%;
        height: 40px;
        background-color: #348ac7;
        border: none;
        border-radius: 15px;
        display: inline-block;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.body {
  width: 80%;
  background-color: #348ac7;
  border-radius: 7px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 80%);
  border: 1px solid rgba(var(--Grey), 1);

  .conteudoSearch {
    width: 60%;
    margin: 0 auto auto auto;


    .filme {
      margin: 0 auto 20px auto !important;
      width: 90%;
      height: 200px;
      display: flex;
      margin: 20px auto 40px auto;
      border-radius: 5px;
      box-shadow: 0 5px 8px rgb(0 0 0 / 10%);
      border: 1px solid rgba(var(--lightGrey), 1);
      &:hover {
        cursor: pointer;
      }

      img {
        margin: 0;
        width: auto;
        height: 195px;
        border-radius: 5px;
      }
      mat-card-content {
        display: flex;
        flex-direction: column;
        margin-top: 6px;
        margin-left: 10px;
        .titulo {
          font-size: 16px;
          font-weight: 700;
        }
        .dataLancamento {
          color: gray;
          font-weight: 500;
        }
        .sinopse {
          height: 120px;
          display: flex;
          overflow-y: hidden;
          overflow-x: hidden;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
}
