.header {
  background-image: url("https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces_filter(duotone,032541,01b4e4)/7lmBufEG7P7Y1HClYK3gCxYrkgS.jpg");
  background-repeat: repeat-x;
  background-position: center;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
  border: 1px solid rgba(var(--lightGrey), 1);

  .logo {
    background-color: #000000d0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-items: center;

    p {
      display: flex;
      margin: 18px 0 18px 30px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .titulo {
    .texto-titulo {
      font-size: 48px;
      text-align: center;
      font-weight: 700;
      line-height: 56px;
      letter-spacing: -0.005em;
      width: 45%;
      margin: 85px auto 0 auto;
    }
  }

  .filtros {
    margin: 40px auto 20px auto;
    width: 100%;
    height: auto;

    .filtre {
      text-align: center;
      font-weight: 700;
      font-size: 16px;
    }
    .chips {
      display: flex !important;
      justify-content: center;
      height: auto;
      margin: auto;
      width: 54%;
      flex-wrap: wrap;

      .lista-filtros {
        display: flex;
        margin: 0 12px 12px 0;
        height: auto;
        border: none;

        .filtro {
          margin-top: -8px;
          width: auto;
          height: 40px;
          border-radius: 4px;
          background-color: white;
          text-align: center;
          font-weight: 700;
          font-size: 16px;

          &:hover {
            cursor: pointer;
          }
        }

        .filtroSelecionado {
          margin-top: -8px;
          border-radius: 4px;
          width: auto;
          height: 40px;
          background-color: #3c1b4e;
          color: white;
          &:hover {
            cursor: pointer;
          }

          mat-icon {
            margin-top: -2px;
            color: white;
          }
        }
      }
    }
  }
  .search {
    display: flex;
    margin-bottom: 50px;

    .example-form {
      display: flex;
      width: 40%;
      margin: auto;

      .example-full-width {
        width: 100%;
        height: 52px;
        text-align: center;
        background-color: white;
        border-radius: 15px;

        input {
          color: black;
          width: 88%;
          font-size: 18px;
          text-align: center;
          margin-left: 50px;
        }

        mat-label {
          font-size: 16px;
          display: inline-block;
          color: black;
        }
        .button {
          margin-left: -50px;
          margin-top: -11px !important;
          color: white;
          width: 10%;
          height: 40px;
          background-color: #348ac7;
          border: none;
          border-radius: 15px;
          display: inline-block;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.filmes {
  display: grid;
  justify-content: center;
  grid-template-columns:
    minmax(10px, max-content)
    repeat(auto-fill, 2000px);
  margin: auto !important;
  max-width: 1000px;
  height: auto;
  margin-bottom: 25px;

  .filme {
    margin: 25px 16px 0px 16px;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 176px;
    box-shadow: none;
    :hover {
      cursor: pointer;
    }

    img {
      border-radius: 4px;
      max-width: 176px;
      height: 264px;
      margin: 0;
    }

    mat-card-content {
      margin-bottom: 0;

      .descricao {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: black;
        margin-bottom: 0;
        margin-top: 8px;
      }

      .data-lancamento {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #646464;
        margin-top: 0;
      }
    }
  }
}

.pagination {
  margin-top: 20px;
  text-align: center;


  pagination-controls {
    text-align: center;
    margin: auto;
  }

  ::ng-deep .ngx-pagination{
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .titulo {
    .texto-titulo {
      font-size: 35px !important;
      text-align: center;
      font-weight: 700;
      line-height: 38px !important;
      letter-spacing: -0.005em;
      width: 80% !important;
      margin: 40px auto 0 auto !important;
    }
  }
  .chips {
    display: flex !important;
    width: 90% !important;
    justify-content: center !important;
  }
  .search {
    display: flex;
    margin-bottom: 50px;

    .example-form {
      display: flex;
      width: 90% !important;
      margin: auto;

      .example-full-width {
        width: 100%;
        height: 52px;
        text-align: center;
        background-color: white;
        border-radius: 15px;

        input {
          color: black;
          width: 78%;
          font-size: 18px;
          text-align: center;
          margin-left: 20px !important;
        }

        mat-label {
          font-size: 16px;
          display: inline-block;
          color: black;
        }
        .button {
          margin-left: -50px;
          margin-top: -11px !important;
          color: white;
          width: 20%;
          height: 40px;
          background-color: #348ac7;
          border: none;
          border-radius: 15px;
          display: inline-block;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.filmes {
  display: grid;
  justify-content: center;
  grid-template-columns:
    minmax(200px, max-content)
    repeat(auto-fill, 200px);
    margin: auto !important;

  max-width: 1000px !important;
  height: auto;
  margin-bottom: 25px;

  .filme {
    margin: 25px 5px 0px 5px;
    padding: 0;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    :hover {
      cursor: pointer;
    }
  }
}


@media (max-width: 500px) {
  .search{
    margin-top: -10px !important;
    margin-bottom: 20px !important;
  }
  .titulo {
    .texto-titulo {
      font-size: 35px !important;
      text-align: center;
      font-weight: 700;
      line-height: 38px !important;
      letter-spacing: -0.005em;
      width: 95% !important;
      margin: 10px auto 0 auto !important;
    }
  }
  .filtros {
    margin: 15px auto 20px auto !important;
    width: 100%;
    height: auto;

    .filtre {
      text-align: center;
      font-weight: 700;
      font-size: 14px;
    }
    .chips {
      display: flex !important;
      justify-content: center;
      height: auto;
      margin: auto;
      width: 95% !important;
      flex-wrap: wrap;

      .lista-filtros {
        display: flex;
        margin: 0 12px 12px 0;
        height: auto;
        border: none;

        .filtro {
          margin-top: -8px;
          width: auto;
          height: 40px !important;
          border-radius: 4px;
          background-color: white;
          text-align: center;
          font-weight: 700;
          font-size: 13px !important;

          &:hover {
            cursor: pointer;
          }
        }

        .filtroSelecionado {
          margin-top: -8px;
          border-radius: 4px;
          width: auto;
          height: 40px;
          background-color: #3c1b4e;
          color: white;
          &:hover {
            cursor: pointer;
          }

          mat-icon {
            margin-top: -2px;
            color: white;
          }
        }
      }
    }
  }

  .filmes {
    display: grid;
    justify-content: center !important;
    grid-template-columns:
      minmax(170px, max-content)
      repeat(auto-fill, 170px);
    margin: auto !important;
    max-width: 1000px !important;
    height: auto;
    margin-bottom: 25px;

    .filme {
      margin: 25px 2px 0px 2px !important;
      padding: 0;
      display: flex;
      flex-direction: column;
      box-shadow: none;
      :hover {
        cursor: pointer;
      }
    }
    img {
      border-radius: 4px;
      max-width: 166px !important;
      height: 264px !important;
      margin: 0;
    }
  }


}
